<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
    <script src="{{ asset('bundles/js/jquery-2.1.1.min.js') }}"></script>
    <link href="{{ asset('bundles/css/index.css') }}" rel="stylesheet">

</head>
<body>
<div class="index">
    <h2>用户管理系统</h2>
    <div class="nas">
      <table>
          <tr></tr>
          <tr>
            <td><a href="add-view.html">添加用户</a></td>
            <td><a href="listUserAction">查看全部用户</a></td>
            <td><a href="sele-view.html">查询用户</a></td>
         </tr>
      </table>
    </div>
</div>
</body>
</html>